<!DOCTYPE html>
<html lang='zh-CN'>
<head>
    <title>首页 | <%= Sys.cont.siteName %></title>
    <%- include header.ejs %>
</head>
<body>
<%- include topbar.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <!--<div class="panel panel-default">
                <div class="panel-body" style="padding:0px;">
                    <div class="col-md-12" style="height: 50px;line-height:50px">
                        <span class="btn btn-sm">全部：</span>
                        <span class="btn btn-default btn-sm">最新</span>
                        <span class="btn btn-default btn-sm">热门</span>
                    </div>
                </div>
            </div>-->
            <div class="panel panel-default">
                <div class="panel-heading">当前话题<span class="pull-right">
                        <ul id="cusvoice" style="padding: 0px;margin: 0px;">
                            <li><a href="#">让优秀成为一种习惯</a></li>
                            <li><a href="#">每天进步一点点</a></li>
                        </ul>
                </span></div>
                <div class="panel-body" style="padding:0px;">
                    <% artidesLife.forEach(function(item){ %>
                    <div class="viewrecord">
                        <div class="row">
                            <div class="col-md-11" style="font-size: 17px;">
                                <a href="/artide/view/<%= item.id_ %>" ><%= item.title %></a>
                            </div>
                            <div class="col-md-1">
                                <i class="glyphicon glyphicon-star-empty"
                                   style="color: red;font-size:20px;margin-top: 20px;"></i>
                                <span><%= item.shouCot %></span>
                            </div>
                        </div>
                        <div style="padding-left: 5px;">
                            <span>
                               <small><i class="glyphicon glyphicon-edit"></i> <a href="/user/view/<%= item.userid %>"> <%= item.username %></a></small>
                               <small><i class="glyphicon glyphicon-eye-open"></i> 围观<%= item.readcount %>次</small>
                               <small><i class="glyphicon glyphicon-repeat"></i> 编辑日期：<%= moment(item.updated).format('MM-DD h:m') %></small>
                            </span>
                        </div>
                        <div class="text_ellipsis hidden">
                            <%- item.content %>
                        </div>
                    </div>
                    <% }) %>
                    <br>
                </div>
            </div>
            <ul class="pagination">
                <li class="disabled"><a href="#">«</a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li ><a href="#">2 <span class="sr-only">(current)</span></a></li>
                <li ><a href="#">3 <span class="sr-only">(current)</span></a></li>
                <li ><a href="#">4 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>

        <div class="col-md-3">
            <% if(locals.user != null){ %>
            <div class="panel">
                <a href="/push_artide" class="btn btn-lg btn-primary btn-block">发表文章</a>
            </div>
            <% } %>
            <div class="panel" style="height:150px;text-align: center;">
                <div class="panel-body">
                    <div style="text-align: center;font-weight: bold;font-size: 20px;">
                        <%= Sys.cont.siteName %>博客
                    </div>
                    <div>
                        Express4+NodeJs+MySQL 打造博客网站系统
                    </div>
                    <div>
                        QQ:1160755272
                    </div>
                    <div>
                        Email:tangdu0228yes@163.com
                    </div>
                    <div>
                        <a href="https://github.com/tangdu/elife" target="_blank">GitHub</a>
                    </div>
                </div>
            </div>

            <span class="btn btn-sm slintbtn">标签云</span>
            <div class="sline"></div>
            <div class="panel panel-default">
                <div class="panel-body ylabel"  style="padding: 12px 13px 10px 15px;">
                   <a>Spring</a><a>Mybatis</a><a>ExtJS</a><a>Jquery</a><a>Flex</a>
                   <a>Hibernate</a><a>JPA</a><a>Swing</a><a>JFX</a><a>Tomcat</a>
                </div>
            </div>

            <span class="btn btn-sm slintbtn">热门评论</span>
            <div class="sline"></div>
            <div class="panel panel-default">
                <div class="panel-body"  style="padding: 0px;">
                    <% topArtideList.forEach(function(item){ %>
                    <div class="col-md-12 viewrecord">
                        <a href="/artide/view/<%= item.id_ %>"><%= item.title %></a>
                    </div>
                    <% }) %>
                </div>
            </div>

            <span class="btn btn-sm slintbtn">站长统计</span>
            <div class="sline"></div>
            <div class="panel panel-info" style="height:90px;">
                <div class="panel-body">
                    <div class="col-md-6">
                        <ul style="margin: 0px;padding: 0px;">
                            <li>访问总数：</li>
                            <li>文章总数：</li>
                            <li>评价总数：</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul style="margin: 0px;padding: 0px;">
                            <li>网站运行：</li>
                            <li>网站页数：</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include footer.ejs %>
<script>
    var c,_=Function;
    var o = document.getElementById("cusvoice");
    if(o){
        with(o){
            innerHTML+=innerHTML;
            onmouseover=_("c=1");
            onmouseout=_("c=0");
        }
        (F=_("if(#%26||!c)#++,#%=o.scrollHeight>>1;setTimeout(F,#%26?10:3000);".replace(/#/g,"o.scrollTop")))();
    };
</script>
</body>
</html>