<!DOCTYPE html>
<html lang='zh-CN'>
<head>
    <title>首页 | <%= Sys.cont.siteName %></title>
    <%- include header.ejs %>
</head>
<body>
<%- include topbar.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="glyphicon glyphicon-file"></i> 当前话题
                    <span class="pull-right" ><i class="glyphicon glyphicon-th-large" id="viewstyle" ></i></span>
                </div>

                <div class="panel-body padding0">
                    <% artidesLife.data.forEach(function(item){ %>
                    <div class="viewrecord">
                        <div class="row titlea">
                            <div class="col-md-12" style="font-size: 17px;padding-top: 5px;">
                                <%if(1==item.istop){%>
                                <span class="label label-warning">置顶</span>
                                <%}%>
                                <a href="/article/view/<%= item.id_ %>" ><%= item.title %></a>

                                <span class="pull-right" style="font-size: 9px;">~<%= moment(item.updated).fromNow()%></span>
                            </div>

                        </div>
                        <div  class="row opera" style="padding-left: 20px;" >
                           <small><i class="glyphicon glyphicon-edit"></i> <a href="/user/view/<%= item.userid %>/wdwz"> <%= item.username %></a></small>
                           <small><i class="glyphicon glyphicon-eye-open"></i> 围观 <%= item.readcount %>次</small>
                           <!--<small><i class="glyphicon glyphicon-repeat"></i> 编辑日期：<%= moment(item.updated).format('MM-DD HH:mm') %></small>-->
                           <% if (locals.user && (locals.user.id_===item.userid || locals.user.role==="1")) { %>
                            <small><i class="glyphicon glyphicon-edit"></i> <a href="/edit_article/<%=item.id_%>">编辑</a></small>
                           <%}%>
                        </div>
                        <div class="viewcontent hidden" style="height: 100px;padding-top:5px;white-space:normal;text-overflow:ellipsis;">
                            <%= item.digest %>
                        </div>
                    </div>
                    <% }) %>
                    <br>
                </div>
            </div>
            <ul class="pagination" >
                <%if((parseInt(artidesLife.page)-1)<1){%>
                    <li class="disabled"><a href="#">«</a></li>
                <%}else{%>
                    <li><a href="/index?ipage=1">«</a></li>
                <%}%>

                <% for(var i=1;i<=artidesLife.totalPage;i++){%>
                    <%if(artidesLife.page==i){%>
                        <li class="active"><a href="/index?ipage=<%=i%>"><%=i%><span class="sr-only">(current)</span></a></li>
                    <%}else{%>
                        <li><a href="/index?ipage=<%=i%>"><%=i%><span class="sr-only">(current)</span></a></li>
                    <%}%>
                <%}%>

                <%if( (parseInt(artidesLife.page)+1)>artidesLife.totalPage){%>
                    <li class="disabled"><a href="#">»</a></li>
                <%}else{%>
                    <li><a href="/index?ipage=<%=(parseInt(artidesLife.page)+1)%>">»</a></li>
                <%}%>
            </ul>
        </div>

        <div class="col-md-3">
            <% if(locals.user != null){ %>
            <div class="panel">
                <a href="/push_article" class="btn btn-lg btn-primary btn-block">发表文章</a>
            </div>
            <% } %>
            <div class="panel" style="height:85px;text-align: center;border-top: 2px indianred solid;">
                <div class="panel-body">
                    <div>
                        Express4+NodeJs+MySQL博客网站
                    </div>
                    <div>
                        tangdu0228yes@163.com
                    </div>
                    <div>
                        <a href="https://github.com/tangdu/mblog" class="label label-success" target="_blank">访问GitHub</a>
                        <a class="label label-primary" href="/update">更新记录</a>
                    </div>
                </div>
            </div>

            <!--<span class="btn btn-sm slintbtn">标签云</span>
            <div class="sline"></div>-->
            <div class="panel panel-default">
                <div class="panel-heading" >⇛标签云</div>
                <div class="panel-body ylabel"  style="padding: 12px 13px 10px 15px;">
                   <a>Spring</a><a>Mybatis</a><a>ExtJS</a><a>Jquery</a><a>Flex</a>
                   <a>Hibernate</a><a>JPA</a><a>Swing</a><a>JFX</a><a>Tomcat</a>
                   <a>Weblogic</a><a>NodeJS</a><a>KendUI</a><a>Python</a><a>GoLang</a>
                </div>
            </div>

            <!--<span class="btn btn-sm slintbtn">热门评论</span>
            <div class="sline"></div>-->
            <div class="panel panel-default">
                <div class="panel-heading">⇛热门评论</div>
                <div class="panel-body padding0">
                    <% topArtideList.forEach(function(item){ %>
                    <div class="col-md-12 viewrecord_hot">
                        <a href="/article/view/<%= item.id_ %>"><%= item.title %></a>
                    </div>
                    <% }) %>
                </div>
            </div>

            <div class="panel panel-default" style="height:100px;">
                <div class="panel-heading">⇛友情链接</div>
                <div class="panel-body padding0">
                    <div class="col-md-6" >
                        <ul style="margin: 0px;list-style: none;" class="padding0 margin3">
                            <li><a target="_blank" href="http://nodejs.org/">NodeJs官网</a></li>
                            <li><a target="_blank" href="http://expressjs.com/">ExpressJs官网</a></li>
                            <li><a target="_blank" href="http://nqdeng.github.io/7-days-nodejs/">7日学会NodeJs</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="goTopBtn"></div>
<%- include footer.ejs %>
<script>
   /* var c,_=Function;
    var o = document.getElementById("cusvoice");
    if(o){
        with(o){
            innerHTML+=innerHTML;
            onmouseover=_("c=1");
            onmouseout=_("c=0");
        }
        (F=_("if(#%26||!c)#++,#%=o.scrollHeight>>1;setTimeout(F,#%26?10:3000);".replace(/#/g,"o.scrollTop")))();
    };*/
    $(function(){
        $(window).scroll(function(){
            var sc=$(window).scrollTop();
            if(sc>150){
                $("#goTopBtn").fadeIn(100);
            }else{
                $("#goTopBtn").fadeOut(100);
            }
        });
        $("#goTopBtn").click(function(){
            var sc=$(window).scrollTop();
            $('body,html').animate({scrollTop: 0}, 500);
        })

        $("#viewstyle").click(function(){
            var _viewcontent=$(".viewcontent");

            if(_viewcontent.hasClass("hidden")){
                _viewcontent.removeClass("hidden");
                _viewcontent.fadeIn("slow");
            }else{
                _viewcontent.addClass("hidden");
                _viewcontent.fadeOut("slow");
            }
        });
    });
</script>
</body>
</html>